{:paths ["notebooks" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.rpl/specter {:mvn/version "1.1.4"}
        meander/epsilon {:mvn/version "0.0.650"}
        datascript/datascript {:mvn/version "1.4.2"}
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        ubergraph/ubergraph {:mvn/version "0.8.2"}
        criterium/criterium {:mvn/version "0.4.6"}
        com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}
        pangloss/pattern {:git/url "https://github.com/pangloss/pattern"
                          :sha "5aadd38012ccab348d3124b795549f83cc78734b"}
        techascent/tech.ml.dataset {:mvn/version "6.104"}
        org.flatland/ordered {:mvn/version "1.15.11"}
        com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.2.3"}
        djblue/portal {:mvn/version "0.40.0"}
        org.clojure/math.combinatorics {:mvn/version "0.2.0"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        expresso/expresso {:mvn/version "0.2.4"}
        dev.weavejester/medley {:mvn/version "1.7.0"}
        com.taoensso/tufte {:mvn/version "2.4.5"}
        io.github.nextjournal/clerk {:mvn/version "0.13.842"}
        com.cnuernber/ham-fisted {:mvn/version "1.000-beta-98"}
        io.github.mentat-collective/emmy {:git/sha "072c2971f371dff0680caf9f0a40f554c766c1b1"}}
 :jvm-opts ["-Djdk.attach.allowAttachSelf"]
 :aliases
 {:outdated {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  :buildnotebooks {:exec-fn user/build-notebooks!}

  :test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}}}
