{:paths ["notebooks" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.rpl/specter {:mvn/version "1.1.4"}
        meander/epsilon {:mvn/version "0.0.650"}
        datascript/datascript {:mvn/version "1.7.3"}
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        ubergraph/ubergraph {:mvn/version "0.9.0"}
        criterium/criterium {:mvn/version "0.4.6"}
        pangloss/pattern {:git/url "https://github.com/pangloss/pattern"
                          :git/sha "affc7f3ac907f5b98de6638574a741e4693f1648"}
        techascent/tech.ml.dataset {:mvn/version "7.035"}
        org.flatland/ordered {:mvn/version "1.15.12"}
        com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.3.0"}
        djblue/portal {:mvn/version "0.58.3"}
        org.clojure/math.combinatorics {:mvn/version "0.3.0"}
        org.clojure/math.numeric-tower {:mvn/version "0.1.0"}
        expresso/expresso {:mvn/version "0.2.4"}
        dev.weavejester/medley {:mvn/version "1.8.1"}
        io.github.nextjournal/clerk {:git/sha "73c6a5002734f568bbbb5421a59462b61462ccc6"
                                     :git/url "https://github.com/nextjournal/clerk"}
        instaparse/instaparse {:mvn/version "1.5.0"}
        org.clojure/core.match {:mvn/version "1.1.0"}
        com.github.flow-storm/flow-storm-dbg {:mvn/version "4.0.2"}
        philoskim/debux {:mvn/version "0.9.1"}
        lambdaisland/regal {:mvn/version "0.1.175"}
        io.github.cdimascio/dotenv-java {:mvn/version "3.0.2"}
        com.taoensso/nippy {:mvn/version "3.4.2"}
        org.babashka/http-client {:mvn/version "0.4.22"}}
 :aliases
 {:profiler {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.5.1"}}
             :jvm-opts ["-Djdk.attach.allowAttachSelf"]}
  :dev {:extra-paths ["test"]}
  :outdated {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}
  :update {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
           :main-opts ["-m" "antq.core" "--check-clojure-tools" "true" "--upgrade" "true"]}

  :buildnotebooks {:exec-fn clerk/build-notebooks!}
  :test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
  :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
           :main-opts ["-m" "kaocha.runner"]}}}
