{:kaocha/tests
 [{:kaocha.testable/type :kaocha.type/clojure.test,
   :kaocha.testable/id :unit,
   :kaocha/ns-patterns ["-test$"],
   :kaocha/source-paths ["src" "notebooks"],
   :kaocha/test-paths ["test"],
   :kaocha.filter/skip-meta [:kaocha/skip]}],
 :kaocha/fail-fast? false,
 :kaocha/color? true,
 :kaocha/cli-options {:config-file "tests.edn", :print-config true},
 :kaocha.plugin.randomize/seed 156086537,
 :kaocha.plugin.randomize/randomize? true,
 :kaocha/plugins
 [:randomize
  :filter
  :capture-output
  :profiling],
 :kaocha.plugin.capture-output/capture-output? true
 :kaocha/reporter [kaocha.report/dots]}
